<div class="sidebar bg-light p-4" style="width: 250px;">
    <ul class="nav flex-column gap-3">
        <li class="nav-item">
            <a routerLink="/admin/panel-control" routerLinkActive="active-link"
            class="fw-bold fs-5 text-center d-block text-dark text-decoration-none">
                Panel de control
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/admin/bandeja-casos" routerLinkActive="active-link"
            class="fw-bold fs-5 text-center d-block text-dark text-decoration-none">
                Bandeja de reclamos
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/admin/reportes" routerLinkActive="active-link"
            class="fw-bold fs-5 text-center d-block text-dark text-decoration-none">
                Reportes
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/admin/usuarios" routerLinkActive="active-link"
            class="fw-bold fs-5 text-center d-block text-dark text-decoration-none">
                Usuarios
            </a>
        </li>
    </ul>
</div>