main.panel-container {
  min-height: 100vh;
  background-image: url('/img/fondo-machupicchu.jpg');
  background-size: cover;
  background-position: center;
}

.nav-item a:hover {
  color: #dc3545 !important;
}

.active-link {
  color: #dc3545 !important;
}